# Practice PS06: Recommendations engines (interactions-based)

For this assignment we will build and apply an item-based and model-based collaborative filtering recommenders for movies.

Author: <font color="blue">Miguel Rando</font>

E-mail: <font color="blue">miguel.rando01@estudiant.upf.edu</font>

Date: <font color="blue">8/11/24</font>

# 1. The Movies dataset

# 1.1. Load the input files

In [3]:
# Leave this code as-is

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from math import*
from scipy.sparse.linalg import svds
from sklearn.metrics.pairwise import linear_kernel

In [4]:
# Leave this code as-is

FILENAME_MOVIES = "movies-2000s.csv"
FILENAME_RATINGS = "ratings-2000s.csv"
FILENAME_TAGS = "tags-2000s.csv"

In [5]:
# Leave this code as-is

movies = pd.read_csv(FILENAME_MOVIES, 
                    sep=',', 
                    engine='python', 
                    encoding='latin-1',
                    names=['movie_id', 'title', 'genres'])
display(movies.head(5))

ratings_raw = pd.read_csv(FILENAME_RATINGS, 
                    sep=',', 
                    encoding='latin-1',
                    engine='python',
                    names=['user_id', 'movie_id', 'rating'])
display(ratings_raw.head(5))

   movie_id                  title                     genres
0      2769      Yards, The (2000)                Crime|Drama
1      3177     Next Friday (2000)                     Comedy
2      3190       Supernova (2000)  Adventure|Sci-Fi|Thriller
3      3225     Down to You (2000)             Comedy|Romance
4      3228  Wirey Spindell (2000)                     Comedy

   user_id  movie_id  rating
0        4         1     3.0
1        4       260     3.5
2        4       296     4.0
3        4       541     4.5
4        4       589     4.0

# 1.2. Merge the data into a single dataframe

<font size="+1" color="red">Replace this cell with your code from the previous practice that joined these three dataframes using "merge" into a single dataframe named "ratings". Print the first 5 rows of the resulting dataframe, which should contain columns "user_id", "movie_id", "rating", "title", and "genres".</font>

In [6]:
ratings_selected = ratings_raw[['user_id', 'movie_id', 'rating']]
movies_selected = movies[['movie_id', 'title', 'genres']]

# Unir los dos dataframes usando solo las columnas seleccionadas
ratings = pd.merge(ratings_selected, movies_selected, on='movie_id')


display(ratings.head(5))

,user_id,movie_id,rating,title,genres
0,4,3624,2.5,Shanghai Noon (2000),Action|Adventure|Comedy|Western
1,152,3624,3.0,Shanghai Noon (2000),Action|Adventure|Comedy|Western
2,171,3624,3.5,Shanghai Noon (2000),Action|Adventure|Comedy|Western
3,276,3624,4.0,Shanghai Noon (2000),Action|Adventure|Comedy|Western
4,494,3624,3.5,Shanghai Noon (2000),Action|Adventure|Comedy|Western

<font size="+1" color="red">Replace this cell with your code from the previous practice for "find_movies" that list movies containing a keyword</font>

In [7]:
def find_movies(keyword, movies_df):
    # convert keyword to lowercase 
    keyword_lower = keyword.lower()
    
    # filter movies 
    matching_movies = movies_df[movies_df['title'].str.lower().str.contains(keyword_lower, na=False)]
    
    # print each matching movie ID and title
    print(matching_movies[['movie_id', 'title']].to_string(index=False, header=False))

In [8]:
# LEAVE AS-IS

# For testing, this should print 9 movies
find_movies("Spider-Man", movies)

  5349                                Spider-Man (2002)
  8636                              Spider-Man 2 (2004)
 52722                              Spider-Man 3 (2007)
 76709 Spider-Man: The Ultimate Villain Showdown (2002)
 95510                   Amazing Spider-Man, The (2012)
110553                  The Amazing Spider-Man 2 (2014)
122926                Untitled Spider-Man Reboot (2017)
195159         Spider-Man: Into the Spider-Verse (2018)
201773                 Spider-Man: Far from Home (2019)

In [9]:
# LEAVE AS-IS

def get_title(movie_id, movies):
    return movies[movies['movie_id'] == movie_id].title.iloc[0]

In [10]:
# LEAVE AS-IS

# For testing, should print "Spider-Man 2 (2004)"
print(get_title(8636, movies))

Spider-Man 2 (2004)

## 1.3. Count unique registers

<font size="+1" color="red">Replace this cell with your own code to indicate the number of unique users and unique movies in the "ratings" variable.</font>

In [11]:
num_unique_users = len(ratings['user_id'].unique())

num_rated_movies = len(ratings['movie_id'].unique())

total_movies = len(movies['movie_id'].unique())

print(f"Number of users who have rated a movie : {num_unique_users}")
print(f"Number of movies that have been rated  : {num_rated_movies}")
print(f"Total number of movies                 : {total_movies}")

Number of users who have rated a movie : 12676
Number of movies that have been rated  : 2049
Total number of movies                 : 33168

# 2. Item-based Collaborative Filtering

## 2.1. Data pre-processing

<font size="+1" color="red">Replace this cell with your code to generate "rated_movies" and print the first ten rows. This should have columns user_id, movie_id, rating, title</font>

In [12]:
rated_movies = ratings.drop(columns = 'genres')

print(rated_movies.head(5))

   user_id  movie_id  rating                 title
0        4      3624     2.5  Shanghai Noon (2000)
1      152      3624     3.0  Shanghai Noon (2000)
2      171      3624     3.5  Shanghai Noon (2000)
3      276      3624     4.0  Shanghai Noon (2000)
4      494      3624     3.5  Shanghai Noon (2000)

<font size="+1" color="red">Replace this cell with your code to generate "ratings_summary" and print the first 10 rows.</font>

In [13]:
# we only keep one row per film
ratings_summary = rated_movies.groupby('title').first()

# we compute the series for each film
ratings_mean = rated_movies.groupby('title')['rating'].mean()
ratings_count = rated_movies.groupby('title')['rating'].count()

# here we add the series as columns to the dataframe
ratings_summary['ratings_mean'] = ratings_mean
ratings_summary['ratings_count'] = ratings_count


# we drop the rating column as we dont need it any more
ratings_summary = ratings_summary.drop(columns = ['rating', 'user_id'])

<font size="+1" color="red">Replace this cell with code to print the top 5 highest rated movies, considering only movies receiving at least 100 ratings.</font>

In [14]:
#  at least 100 ratings
ratings_100 = ratings_summary[ratings_summary.ratings_count >= 100]

# sort by decreasing value of ratings
ratings_sorted = ratings_100.sort_values(by='ratings_mean', ascending=False)

print(ratings_sorted.head(5))

                                                    movie_id  ratings_mean  \
title
Spirited Away (Sen to Chihiro no kamikakushi) (...      5618      4.215216
City of God (Cidade de Deus) (2002)                     6016      4.186592
Memento (2000)                                          4226      4.158512
Fog of War: Eleven Lessons from the Life of Rob...      7156      4.112013
Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) ...      4973      4.097234

                                                    ratings_count
title
Spirited Away (Sen to Chihiro no kamikakushi) (...           2458
City of God (Cidade de Deus) (2002)                          2133
Memento (2000)                                               4476
Fog of War: Eleven Lessons from the Life of Rob...            308
Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) ...           3687

<font size="+1" color="red">Repeat this, but this time consider movies receiving at least 3 ratings.</font>

In [15]:
#  at least 3 ratings
ratings_3 = ratings_summary[ratings_summary.ratings_count >= 3]

# sort by decreasing value of ratings
ratings_sorted = ratings_3.sort_values(by='ratings_mean', ascending=False)

print(ratings_sorted.head(5))

                                                 movie_id  ratings_mean  \
title
Rumor of Angels, A (2000)                            5082      4.666667
2LDK (2003)                                         27764      4.500000
Beautiful City (Shah-re ziba) (2004)                31954      4.400000
Promises (2001)                                      5224      4.388889
Surplus: Terrorized Into Being Consumers (2003)     31856      4.333333

                                                 ratings_count
title
Rumor of Angels, A (2000)                                    6
2LDK (2003)                                                  3
Beautiful City (Shah-re ziba) (2004)                         5
Promises (2001)                                             18
Surplus: Terrorized Into Being Consumers (2003)              3

<font size="+1" color="red">Replace this cell with a brief commentary, in your own words, on what happens when the number of ratings is set to a small value.</font>

With small number of ratings, the rating mean is higher, as it is easier to have a greater mean because if someone rate the film with a very high value (5 for example), the impact of this rating in the mean is going to have a grater impact. Thats why the 5 films with better rating mean have few rating count.

## 2.2. Compute the user-movie matrix

<font size="+1" color="red">Replace this cell with code to generate a "user_movie" matrix by calling "pivot_table" on "rated_movies". Print the first 5 rows. It might take about one minute to compute, depending on your computer.</font>

In [16]:
user_movie = rated_movies.pivot_table( index = 'user_id', columns = 'movie_id', values = 'rating')

print(user_movie)

movie_id  2769   3177   3190   3225   3228   3239   3273   3275   3276   \
user_id
4           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
33          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
62          NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.5    NaN
63          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
95          NaN    NaN    NaN    NaN    NaN    NaN    NaN    3.5    NaN
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
162488      NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.5    NaN
162513      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162527      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162533      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162536      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

movie_id  3279   ...  33138  33145  33148  33150  33152  33154  33158  33162  \
user_id          ...
4           NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
33          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
62          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
63          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
95          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...         ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
162488      NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162513      NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162527      NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162533      NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
162536      NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

movie_id  33164  33166
user_id
4           NaN    NaN
33          NaN    NaN
62          NaN    3.5
63          NaN    NaN
95          NaN    NaN
...         ...    ...
162488      NaN    NaN
162513      NaN    NaN
162527      NaN    NaN
162533      NaN    4.0
162536      NaN    3.5

[12676 rows x 2049 columns]

<font size="+1" color="red">Replace this a brief commentary indicating why do you think the "user_movie" matrix has so many "NaN" values. How do we call this characteristic of user ratings in recommender systems?</font>

Because users only rate some films, and there are a lot of films that are not rated by the big part of the users.
We call it sparsity.

# 2.3. Explore some correlations in the user-movie matrix

<font size="+1" color="red">Replace this cell with code to compute and display the first 10 rows of the "ratings3" table as described above.</font>

In [17]:
find_movies("Lord of the Rings", movies)
find_movies("Finding Nemo", movies)
find_movies("Talk to Her", movies)

4993 Lord of the Rings: The Fellowship of the Ring, The (2001)
5952             Lord of the Rings: The Two Towers, The (2002)
7153     Lord of the Rings: The Return of the King, The (2003)
6377 Finding Nemo (2003)
5878 Talk to Her (Hable con Ella) (2002)

In [18]:
id_pivot = 4993
id_m1 = 6377
id_m2 = 5878


s1 = user_movie[id_pivot].dropna()
s2 = user_movie[id_m1].dropna()
s3 = user_movie[id_m2].dropna()

ratings3 = pd.concat([s1, s2, s3], axis=1)

ratings3 = ratings3.dropna()

print(ratings3.head(10))

         4993  6377  5878
user_id
859       3.0   4.0   5.0
1229      4.0   4.0   4.5
1281      3.0   2.5   3.0
1722      5.0   4.5   4.0
2004      4.5   3.0   3.5
4590      4.0   4.0   2.0
5052      2.0   4.0   4.0
5144      5.0   5.0   5.0
6497      3.5   3.5   3.5
8369      3.0   4.0   4.5

<font size="+1" color="red">Replace this cell with code to compute all correlations between these three movies, as described above.</font>

In [19]:
similarity_1 = ratings3[id_pivot].corr(ratings3[id_m1])  # Lord of the Rings and Finding Nemo
similarity_2 = ratings3[id_pivot].corr(ratings3[id_m2])  # Lord of the Rings and Talk to Her
similarity_3 = ratings3[id_m1].corr(ratings3[id_m2])  # Finding Nemo and Talk to Her


# print the similarities
print(f"Similarity between 'Lord of the Rings: The Fellowship of the Ring, The (2001)' and 'Finding Nemo (2003)': {similarity_1:.2f}")
print(f"Similarity between 'Lord of the Rings: The Fellowship of the Ring, The (2001)' and 'Talk to Her (Hable con Ella) (2002)': {similarity_2:.2f}")
print(f"Similarity between 'Finding Nemo (2003)' and 'Talk to Her (Hable con Ella) (2002)': {similarity_3:.2f}")

Similarity between 'Lord of the Rings: The Fellowship of the Ring, The (2001)' and 'Finding Nemo (2003)': 0.38
Similarity between 'Lord of the Rings: The Fellowship of the Ring, The (2001)' and 'Talk to Her (Hable con Ella) (2002)': 0.16
Similarity between 'Finding Nemo (2003)' and 'Talk to Her (Hable con Ella) (2002)': 0.20

<font size="+1" color="red">Replace this cell with a brief commentary on the correlations you find.</font>

The higher correlation is between Lord of the Ring and Nemo. It is normal because they have the same gender (fiction) so people who likes one of it, tends to like the other.

<font size="+1" color="red">Replace this cell with code to create a "similarity_to_pivot" series that contains the computed correlations, droping the NaNs in the series.</font>

In [20]:
df_pivot = pd.DataFrame(user_movie[id_pivot].dropna()).rename(columns={id_pivot: "rating"})

# create an empty list to store the correlation results
correlations = []

for movie_id in user_movie.columns:
    if movie_id != id_pivot:  # skip the pivot movie itself
        # extract the ratings 
        df_other_movie = pd.DataFrame(user_movie[movie_id].dropna()).rename(columns={movie_id: "rating"})
        
        # Compute the correlation between the pivot movie and the current movie
        corr = df_pivot.corrwith(df_other_movie)[0]  # corrwith returns a series, so extract the scalar value
        
        # Store the result in the list 
        correlations.append((movie_id, corr))

        
similarity_to_pivot = pd.DataFrame(correlations, columns=["movie_id", "corr_with_pivot"])

print(similarity_to_pivot.head())

   movie_id  corr_with_pivot
0      2769        -0.127515
1      3177         0.093221
2      3190         0.041206
3      3225         0.126600
4      3228              NaN

<font size="+1" color="red">Replace this cell with code to create a "corr_with_pivot" dataframe as specified above, and to print the 20 movies (rated 500 times or more) with the highest correlation with the selected movie.</font>

In [21]:
#I had to reset the index to make the column title appear
ratings_summary_reset = ratings_summary.reset_index()


# merge similarity_to_pivot with ratings_summary on movie_id
corr_with_pivot = ratings_summary_reset.merge(similarity_to_pivot, on="movie_id", how='left')

# filter for movies with ratings_count > 500 
corr_with_pivot = corr_with_pivot[corr_with_pivot['ratings_count'] > 500]

# sort the dataframe in descending order
corr_with_pivot = corr_with_pivot.sort_values(by="corr_with_pivot", ascending=False)

print(corr_with_pivot.head(20))

                                                  title  movie_id  \
1113      Lord of the Rings: The Two Towers, The (2002)      5952
1112  Lord of the Rings: The Return of the King, The...      7153
1418  Pirates of the Caribbean: The Curse of the Bla...      6539
801     Harry Potter and the Prisoner of Azkaban (2004)      8368
740                                    Gladiator (2000)      3578
2030                                       X-Men (2000)      3793
802   Harry Potter and the Sorcerer's Stone (a.k.a. ...      4896
1619                               Shanghai Noon (2000)      3624
880   Howl's Moving Castle (Hauru no ugoku shiro) (2...     31658
1689                                  Spider-Man (2002)      5349
800      Harry Potter and the Chamber of Secrets (2002)      5816
1630                                       Shrek (2001)      4306
1185                        Matrix Reloaded, The (2003)      6365
1690                                Spider-Man 2 (2004)      8636
2031                            X2: X-Men United (2003)      6333
829                            Hero (Ying xiong) (2002)      7090
450   Crouching Tiger, Hidden Dragon (Wo hu cang lon...      3996
1062                           Last Samurai, The (2003)      7143
662                                 Finding Nemo (2003)      6377
1708  Star Wars: Episode II - Attack of the Clones (...      5378

      ratings_mean  ratings_count  corr_with_pivot
1113      4.083869           5449         0.892103
1112      4.083960           5449         0.892073
1418      3.779241           3950         0.377599
801       3.809971           2397         0.340934
740       3.951050           4811         0.337667
2030      3.556436           3535         0.329686
802       3.678509           2843         0.319180
1619      3.297443           1017         0.307471
880       4.064417           1141         0.303898
1689      3.457931           3209         0.302174
800       3.657751           2374         0.297661
1630      3.768787           4591         0.296144
1185      3.352115           2529         0.289269
1690      3.468254           2268         0.289119
2031      3.611370           2146         0.286127
829       3.934135            873         0.274978
450       3.845262           2976         0.272425
1062      3.666470           1691         0.270891
662       3.862284           3765         0.268611
1708      3.063167           2248         0.267679

<font size="+1" color="red">Replace this cell with a brief commentary about the movies you see on this list. What happens if you set the condition on *ratings_count* to a much larger value? What happens if you set it to a much smaller value?</font>

Obiously the film that has the higher correlation is another Lord of the rings film. And the other films are also fiction and adventure films. If we increase the count of the rating we only get very popular films, and if we decrease it, we get less known films

# 2.4. Implement the item-based recommendations

<font size="+1" color="red">Replace this cell with your code to compute all correlations between columns (movies) in the matrix user_movie. Store this in "item_similarity", and print the first 10 rows.</font>

In [25]:
item_similarity = user_movie.corr()

print(item_similarity.head(10))

movie_id     2769      3177      3190      3225   3228      3239      3273   \
movie_id
2769      1.000000  0.115068  0.033721 -0.232268    NaN -0.500000  0.197011
3177      0.115068  1.000000  0.303820  0.559533    NaN       NaN  0.331191
3190      0.033721  0.303820  1.000000  0.636361    NaN -0.014315  0.146042
3225     -0.232268  0.559533  0.636361  1.000000    NaN  0.578414  0.347716
3228           NaN       NaN       NaN       NaN    1.0       NaN       NaN
3239     -0.500000       NaN -0.014315  0.578414    NaN  1.000000  0.180846
3273      0.197011  0.331191  0.146042  0.347716    NaN  0.180846  1.000000
3275      0.199514  0.167918  0.394293  0.263671    NaN  1.000000  0.105735
3276      0.250873  1.000000 -0.290397 -0.250313    NaN       NaN  0.154371
3279           NaN       NaN       NaN       NaN    NaN       NaN       NaN

movie_id     3275      3276   3279   ...     33138     33145  33148  33150  \
movie_id                             ...
2769      0.199514  0.250873    NaN  ...  0.379980  0.878310    NaN    NaN
3177      0.167918  1.000000    NaN  ...  0.546119  0.735767   -1.0    NaN
3190      0.394293 -0.290397    NaN  ...  0.246183  0.632026    NaN    NaN
3225      0.263671 -0.250313    NaN  ... -0.300376  0.318377    NaN    NaN
3228           NaN       NaN    NaN  ...       NaN       NaN    NaN    NaN
3239      1.000000       NaN    NaN  ...       NaN       NaN    NaN    NaN
3273      0.105735  0.154371    NaN  ...  0.006774  0.409968    1.0    NaN
3275      1.000000  0.485071    NaN  ... -0.011426  0.279624    NaN    NaN
3276      0.485071  1.000000    NaN  ...       NaN  0.292770    NaN    NaN
3279           NaN       NaN    1.0  ...       NaN       NaN    NaN    NaN

movie_id  33152     33154         33158     33162     33164     33166
movie_id
2769        NaN  0.248126  1.806095e-01 -0.085570 -0.408248  0.105671
3177        NaN -0.221382  3.174747e-01  0.014735  0.661989  0.185654
3190        NaN  0.378181  1.709261e-01  0.022444 -0.073360 -0.054114
3225        NaN  0.480173  7.503063e-01  0.536828  0.753141  0.098748
3228        NaN       NaN           NaN       NaN       NaN       NaN
3239        NaN  1.000000           NaN  1.000000  0.636285  0.888200
3273        NaN  0.088405  7.516779e-02  0.143492  0.466705  0.084202
3275        NaN  0.075827  2.994603e-01  0.187713  0.285584  0.225317
3276        NaN  0.000000 -6.885311e-17 -0.455530  0.500000 -0.138013
3279        NaN       NaN           NaN       NaN       NaN       NaN

[10 rows x 2049 columns]

<font size="+1" color="red">Replace this cell with your code to compute all correlations between columns (movies) in the matrix user_movie, but considering only movies having at least 100 ratings in common. Store this in "item_similarity_min_ratings"</font>

In [27]:
item_similarity_min_ratings = user_movie.corr(min_periods = 100)

print(item_similarity.head(10))

movie_id  2769   3177   3190   3225   3228   3239      3273      3275   3276   \
movie_id
2769        1.0    NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
3177        NaN    1.0    NaN    NaN    NaN    NaN       NaN       NaN    NaN
3190        NaN    NaN    1.0    NaN    NaN    NaN       NaN       NaN    NaN
3225        NaN    NaN    NaN    1.0    NaN    NaN       NaN       NaN    NaN
3228        NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
3239        NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
3273        NaN    NaN    NaN    NaN    NaN    NaN  1.000000  0.105735    NaN
3275        NaN    NaN    NaN    NaN    NaN    NaN  0.105735  1.000000    NaN
3276        NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN
3279        NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN    NaN

movie_id  3279   ...  33138  33145  33148  33150  33152  33154  33158  \
movie_id         ...
2769        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3177        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3190        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3225        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3228        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3239        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3273        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3275        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3276        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3279        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN

movie_id     33162  33164     33166
movie_id
2769           NaN    NaN       NaN
3177           NaN    NaN       NaN
3190           NaN    NaN       NaN
3225           NaN    NaN       NaN
3228           NaN    NaN       NaN
3239           NaN    NaN       NaN
3273           NaN    NaN  0.084202
3275      0.187713    NaN  0.225317
3276           NaN    NaN       NaN
3279           NaN    NaN       NaN

[10 rows x 2049 columns]

<font size="+1" color="red">Replace this cell with your code to find the userids of two example users: user_id_super (the who liked the three superhero movies), and user_id_drama (the one who liked the three dramas)</font>

In [43]:

#we iterate through the data frame and find the coincidences

for user_id, row in user_movie.iterrows():
    if (row[5349] > 4.5) & (row[3793] > 4.5) & (row[6534] > 4.5):
        user_id_super = user_id
        print(user_id)
        break  # Stops after finding the first user

        
for user_id, row in user_movie.iterrows():
    if (row[6870] > 4.5) & (row[5995] > 4.5) & (row[3555] > 4.5):
        user_id_drama = user_id
        print(user_id)
        break  # Stops after finding the first user

127342
34336

In [44]:
# Leave this code as-is

# Gets a list of watched movies for a user_id
def get_watched_movies(user_id, user_movie):
    return list(user_movie.loc[user_id].dropna().sort_values(ascending=False).index)
    
# Gets the rating a user_id has given to a movie_id
def get_rating(user_id, movie_id, user_movie):
    return user_movie[movie_id][user_id]

# Print watched movies
def print_watched_movies(user_id, user_movie, movies):
    for movie_id in get_watched_movies(user_id, user_movie):
        print("%d %.1f %s " %
          (movie_id, get_rating(user_id, movie_id, user_movie), get_title(movie_id, movies)))

In [45]:
# LEAVE AS-IS (TESTING CODE)

print_watched_movies(user_id_super, user_movie, movies)

5502 5.0 Signs (2002)
5445 5.0 Minority Report (2002)
6156 5.0 Shanghai Knights (2003)
5952 5.0 Lord of the Rings: The Two Towers, The (2002)
5944 5.0 Star Trek: Nemesis (2002)
5816 5.0 Harry Potter and the Chamber of Secrets (2002)
5618 5.0 Spirited Away (Sen to Chihiro no kamikakushi) (2001)
5524 5.0 Blue Crush (2002)
5480 5.0 Stuart Little 2 (2002)
5459 5.0 Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)
5420 5.0 Windtalkers (2002)
4388 5.0 Scary Movie 2 (2001)
5389 5.0 Spirit: Stallion of the Cimarron (2002)
5349 5.0 Spider-Man (2002)
5218 5.0 Ice Age (2002)
5064 5.0 The Count of Monte Cristo (2002)
4993 5.0 Lord of the Rings: The Fellowship of the Ring, The (2001)
4973 5.0 Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) (2001)
4896 5.0 Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)
4886 5.0 Monsters, Inc. (2001)
6186 5.0 Gods and Generals (2003)
6333 5.0 X2: X-Men United (2003)
6377 5.0 Finding Nemo (2003)
6534 5.0 Hulk (2003)
30816 5.0 Phantom of the Opera, The (2004)
30812 5.0 Aviator, The (2004)
8972 5.0 National Treasure (2004)
8644 5.0 I, Robot (2004)
8636 5.0 Spider-Man 2 (2004)
8622 5.0 Fahrenheit 9/11 (2004)
8533 5.0 Notebook, The (2004)
8368 5.0 Harry Potter and the Prisoner of Azkaban (2004)
8361 5.0 Day After Tomorrow, The (2004)
8360 5.0 Shrek 2 (2004)
7454 5.0 Van Helsing (2004)
7324 5.0 Hidalgo (2004)
7153 5.0 Lord of the Rings: The Return of the King, The (2003)
6946 5.0 Looney Tunes: Back in Action (2003)
6761 5.0 Tibet: Cry of the Snow Lion (2002)
6565 5.0 Seabiscuit (2003)
6539 5.0 Pirates of the Caribbean: The Curse of the Black Pearl (2003)
4701 5.0 Rush Hour 2 (2001)
33162 5.0 Kingdom of Heaven (2005)
4270 5.0 Mummy Returns, The (2001)
3624 5.0 Shanghai Noon (2000)
3785 5.0 Scary Movie (2000)
3753 5.0 Patriot, The (2000)
3988 5.0 How the Grinch Stole Christmas (a.k.a. The Grinch) (2000)
3793 5.0 X-Men (2000)
3751 5.0 Chicken Run (2000)
3827 5.0 Space Cowboys (2000)
4306 5.0 Shrek (2001)
3623 5.0 Mission: Impossible II (2000)
3598 5.0 Hamlet (2000)
3863 5.0 Cell, The (2000)
3578 5.0 Gladiator (2000)
4370 5.0 A.I. Artificial Intelligence (2001)
3755 5.0 Perfect Storm, The (2000)
6567 4.5 Buffalo Soldiers (2001)
5994 4.5 Nicholas Nickleby (2002)
6541 4.5 League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)
5992 4.5 Hours, The (2002)
5956 4.5 Gangs of New York (2002)
3981 4.5 Red Planet (2000)
4386 4.5 Cats & Dogs (2001)
6617 4.5 Open Range (2003)
6766 4.5 Camera Obscura (2000)
6947 4.5 Master and Commander: The Far Side of the World (2003)
7143 4.5 Last Samurai, The (2003)
7164 4.5 Peter Pan (2003)
8526 4.5 Around the World in 80 Days (2004)
8640 4.5 King Arthur (2004)
8961 4.5 Incredibles, The (2004)
8977 4.5 Alexander (2004)
3481 4.5 High Fidelity (2000)
3408 4.5 Erin Brockovich (2000)
5881 4.5 Solaris (2002)
6211 4.5 Ten (2002)
5171 4.5 Time Machine, The (2002)
3354 4.5 Mission to Mars (2000)
4016 4.5 Emperor's New Groove, The (2000)
4368 4.5 Dr. Dolittle 2 (2001)
5378 4.5 Star Wars: Episode II - Attack of the Clones (2002)
5313 4.5 The Scorpion King (2002)
4020 4.5 Gift, The (2000)
5444 4.5 Lilo & Stitch (2002)
4638 4.5 Jurassic Park III (2001)
4783 4.5 Endurance: Shackleton's Legendary Antarctic Expedition, The (2000)
4995 4.0 Beautiful Mind, A (2001)
4299 4.0 Knight's Tale, A (2001)
7255 4.0 Win a Date with Tad Hamilton! (2004)
3996 4.0 Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)
3745 4.0 Titan A.E. (2000)
8639 4.0 Clearing, The (2004)
4254 4.0 Crocodile Dundee in Los Angeles (2001)
3744 4.0 Shaft (2000)
3555 4.0 U-571 (2000)
4069 4.0 Wedding Planner, The (2001)
6550 4.0 Johnny English (2003)
4367 4.0 Lara Croft: Tomb Raider (2001)
6959 4.0 Timeline (2003)
3826 4.0 Hollow Man (2000)
6537 4.0 Terminator 3: Rise of the Machines (2003)
4366 4.0 Atlantis: The Lost Empire (2001)
5833 4.0 Dog Soldiers (2002)
30846 4.0 Assassination of Richard Nixon, The (2004)
5876 4.0 Quiet American, The (2002)
5530 4.0 Simone (S1m0ne) (2002)
4446 4.0 Final Fantasy: The Spirits Within (2001)
3997 4.0 Dungeons & Dragons (2000)
3998 4.0 Proof of Life (2000)
6060 4.0 Guru, The (2002)
3977 4.0 Charlie's Angels (2000)
3889 4.0 Highlander: Endgame (Highlander IV) (2000)
5463 4.0 Reign of Fire (2002)
8666 4.0 Catwoman (2004)
8371 4.0 Chronicles of Riddick, The (2004)
8979 3.5 Guerrilla: The Taking of Patty Hearst (2004)
3564 3.5 Flintstones in Viva Rock Vegas, The (2000)
8981 3.5 Closer (2004)
4756 3.5 Musketeer, The (2001)
4643 3.5 Planet of the Apes (2001)
3510 3.5 Frequency (2000)
5670 3.5 Comedian (2002)
4958 3.5 Behind Enemy Lines (2001)
5872 3.5 Die Another Day (2002)
5882 3.5 Treasure Planet (2002)
5071 3.5 MaelstrÃ¶m (2000)
4232 3.5 Spy Kids (2001)
6373 3.5 Bruce Almighty (2003)
4310 3.5 Pearl Harbor (2001)
6264 3.5 Core, The (2003)
6220 3.0 Willard (2003)
30894 3.0 White Noise (2005)
3986 3.0 6th Day, The (2000)
5504 3.0 Spy Kids 2: The Island of Lost Dreams (2002)
6157 3.0 Daredevil (2003)
8907 3.0 Shark Tale (2004)
6703 3.0 Order, The (2003)
5328 3.0 Rain (2001)
7846 3.0 Tremors 3: Back to Perfection (2001)
8865 2.5 Sky Captain and the World of Tomorrow (2004)
7458 2.5 Troy (2004)
3593 2.5 Battlefield Earth (2000)
5478 0.5 Eight Legged Freaks (2002)
3300 0.5 Pitch Black (2000)

In [46]:
# LEAVE AS-IS (TESTING CODE)

print_watched_movies(user_id_drama, user_movie, movies)

3967 5.0 Billy Elliot (2000)
4014 5.0 Chocolat (2000)
4034 5.0 Traffic (2000)
5995 5.0 Pianist, The (2002)
7147 5.0 Big Fish (2003)
4995 5.0 Beautiful Mind, A (2001)
3555 5.0 U-571 (2000)
6870 5.0 Mystic River (2003)
5991 5.0 Chicago (2002)
8464 5.0 Super Size Me (2004)
5669 5.0 Bowling for Columbine (2002)
8622 5.0 Fahrenheit 9/11 (2004)
30707 5.0 Million Dollar Baby (2004)
6953 4.5 21 Grams (2003)
5015 4.5 Monster's Ball (2001)
5464 4.5 Road to Perdition (2002)
3510 4.5 Frequency (2000)
5989 4.5 Catch Me If You Can (2002)
4022 4.0 Cast Away (2000)
5010 4.0 Black Hawk Down (2001)
5299 4.0 My Big Fat Greek Wedding (2002)
3897 4.0 Almost Famous (2000)
3755 4.0 Perfect Storm, The (2000)
4308 4.0 Moulin Rouge (2001)
4447 3.5 Legally Blonde (2001)
4246 3.5 Bridget Jones's Diary (2001)
4975 3.5 Vanilla Sky (2001)
4019 3.5 Finding Forrester (2000)
5377 3.5 About a Boy (2002)
3948 3.5 Meet the Parents (2000)
5956 3.0 Gangs of New York (2002)
6281 3.0 Phone Booth (2002)
7143 3.0 Last Samurai, The (2003)
7458 3.0 Troy (2004)
5349 3.0 Spider-Man (2002)
5902 3.0 Adaptation (2002)
5418 3.0 Bourne Identity, The (2002)
4993 3.0 Lord of the Rings: The Fellowship of the Ring, The (2001)
4310 3.0 Pearl Harbor (2001)
4025 2.5 Miss Congeniality (2000)
3578 2.5 Gladiator (2000)
8644 2.5 I, Robot (2004)
4018 2.5 What Women Want (2000)
5679 2.5 Ring, The (2002)
30825 2.5 Meet the Fockers (2004)
4027 2.5 O Brother, Where Art Thou? (2000)
4776 2.5 Training Day (2001)
4963 2.5 Ocean's Eleven (2001)
7438 2.0 Kill Bill: Vol. 2 (2004)
3916 2.0 Remember the Titans (2000)
8665 2.0 Bourne Supremacy, The (2004)
30793 2.0 Charlie and the Chocolate Factory (2005)
7153 2.0 Lord of the Rings: The Return of the King, The (2003)
6934 1.5 Matrix Revolutions, The (2003)
3752 1.0 Me, Myself & Irene (2000)
8798 1.0 Collateral (2004)

<font size="+1" color="red">Replace this cell with your code for "get_movies_relevance"</font>

In [47]:
def get_movies_relevance(user_id, user_movie, item_similarity_matrix):

    # Create an empty series
    movies_relevance = pd.Series()

    # Iterate through the movies the user has watched
    for watched_movie in user_movie.columns:

        # Obtain the rating given
        rating_given = user_movie.at[user_id, watched_movie]

        # Obtain the vector containing the similarities of watched_movie
        # with all other movies in item_similarity_matrix
        similarities = item_similarity_matrix[watched_movie]

        # Multiply this vector by the given rating
        weighted_similarities = item_similarity_matrix * rating_given

        # Append these terms to movies_relevance
        movies_relevance = pd.concat([movies_relevance, weighted_similarities])

    # Compute the sum for each movie
    movies_relevance = movies_relevance.groupby(movies_relevance.index).sum()

    # Convert to a dataframe
    movies_relevance_df = pd.DataFrame(movies_relevance, columns=['relevance'])
    movies_relevance_df['movie_id'] = movies_relevance_df.index

    return movies_relevance_df

<font size="+1" color="red">Replace this cell with your code to obtain the 5 most relevant movies for the users user_id_super (who likes superhero movies) and user_id_drama (who likes dramas)</font>

In [ ]:
movies_relevance_super = get_movies_relevance(user_id_super, user_movie, item_similarity)
movies_relevance_drama = get_movies_relevance(user_id_drama, user_movie, item_similarity)


# Merge the relevance results with the movies DataFrame to get movie titles
movies_relevance_super = movies_relevance_super.merge(movies, on='movie_id', how='left')
movies_relevance_drama = movies_relevance_drama.merge(movies, on='movie_id', how='left')

#sort them descending
movies_relevance_super = movies_relevance_super.sort_values(by='relevance', ascending=False)
movies_relevance_drama = movies_relevance_drama.sort_values(by='relevance', ascending=False)


print(movies_relevance_super.head(5))
print(movies_relevance_drama.head(5))

<font size="+1" color="red">Replace this cell with a brief commentary on the movies you see on these lists. How many of them look relevant for the intended users? Feel free to use IMDB or Wikipedia to get info on these movies.</font>

<font size="-1" color="gray">All those trivial facts you learned about 1980s and 1990s pop culture were supposed to be useful one day; that day has arrived :-)</font>

<font size="+1" color="red">Replace this cell with your code implementing "get_recommended_movies"</font>

<font size="+1" color="red">Replace this cell with your code to obtain the 10 most recommended movies for the users user_id_super and user_id_drama</font>

<font size="+1" color="red">Replace this cell with a brief commentary on these recommendations. Do you think they are relevant? Why or why not? After removing the movies the user has already watched, are the relevance scores of the remaining items comparable to the previous lists that contained all relevant movies?</font>

<font size="+2" color="#003300">I hereby declare that, except for the code provided by the course instructors, all of my code, report, and figures were produced by myself.</font>